<div class="row">
<h2>Редактировать <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="col-sm-4">
    <%= image_tag resource.avatar.url(:medium), :class => '' %>
  </div>

  <div class="col-sm-8">
    <div class="form-group">
      <%= f.label 'Новый аватар' %><br />
      <%= f.file_field :avatar%>
    </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Мы ожидаем подтверждения Вашей электронной почты: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(оставьте пустым, если не хотите менять)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(Вы должны ввести старый пароль, чтобы установить новый)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div><%= f.submit "Обновить" %></div>
<% end %>

</div>

<div class="col-sm-12">

<h3>Удалить мой аккаунт</h3>

<p>Не понравилось? <%= button_to "Хотите удалить аккаунт?", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>