<div class="row">

<div class="col-md-2">
  <%= render 'layouts/artists' %>
</div>

<div class="col-md-8">
  <small><%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Назад'.html_safe, artists_path %></small>

<h1><%= @artist.fullname %></h1>

<!-- <p id="notice"><%= notice %></p> -->

<div class="row">

  <div class="col-md-4">
    <%= image_tag @artist.avatar.url(:medium), :class => 'img-responsive'%>
  </div>

  <div class="col-md-8">
    <strong>
    <%= @artist.teaser %>
    </strong>
  </div>

</div>

<hr>


<div>
  <%= @artist.content %>
</div>

<% if can? :manage, @artist  %>
<%= link_to 'Редактировать', edit_artist_path(@artist) %>
<% end %>

</div>

<div class="col-md-2">
  <%= render 'layouts/advert' %>
</div>

</div>