<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/artists' %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <!-- TODO: Сделать динамический -->
      <div class="col-md-4  hidden-sm hidden-xs">
        <div class="pic-wrap">
          <%= image_tag '/static/pic1.jpg', :class => 'img-responsive'  %>
        </div>
      </div>
      <div class="col-md-4  hidden-sm hidden-xs">
        <div class="pic-wrap">
          <%= image_tag '/static/pic1.jpg', :class => 'img-responsive'  %>
        </div>
      </div>
      <div class="col-md-4  hidden-sm hidden-xs">
        <div class="pic-wrap">
          <%= image_tag '/static/pic1.jpg', :class => 'img-responsive'  %>
        </div>
      </div>

      <div class="col-md-4  hidden-sm hidden-xs">
        <div class="pic-wrap">
          <%= image_tag '/static/pic1.jpg', :class => 'img-responsive'  %>
        </div>
        <div class="pic-wrap pic-wrap-last-child">
          <%= image_tag '/static/pic1.jpg', :class => 'img-responsive'  %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="pic-wrap">
          <%= render 'galleries/carousel' %>
        </div>
      </div>

    </div>

    <div class="row news">
      <div class="col-md-6">
        <h3>новости</h3>
        <ul class="media-list">
        <li class="topic-wrap media">
          <a class="pull-right" href="#">
            <%= holder_tag '64x64', 'Пикча', 'lava', :class => 'img-thumbnail media-object'  %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Заголовок новости</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>          
        </li>
        <li class="topic-wrap media">
          <a class="pull-right" href="#">
            <%= holder_tag '64x64', 'Пикча', 'lava', :class => 'img-thumbnail media-object'  %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Заголовок новости</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>          
        </li>        
        </ul>
      </div>
      <div class="col-md-6">
        <h3 class="right">статьи</h3>
        <ul class="media-list">
        <li class="topic-wrap media">
          <a class="pull-right" href="#">
            <%= holder_tag '64x64', 'Пикча', 'lava', :class => 'img-thumbnail media-object'  %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Заголовок новости</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>          
        </li>
        <li class="topic-wrap media">
          <a class="pull-right" href="#">
            <%= holder_tag '64x64', 'Пикча', 'lava', :class => 'img-thumbnail media-object'  %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Заголовок новости</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>          
        </li>        
        </ul>        
      </div>      
    </div>
  </div>
  <div class="col-md-2">
    <%= render 'layouts/advert'%>
  </div>
</div>
