<!-- <p id="notice"><%= notice %></p> -->

<h1><%= @gallery.title %></h1>

<p>
  <%= @gallery.teaser %>
</p>

<%= render 'galleries/carousel' %>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
