<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @gallery.teaser %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @gallery.alias %>
</p>

<p>
  <strong>Link:</strong>
  <%= @gallery.link %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
