<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Базарт" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header>
    <div class="row">
    <div class="logo">
      <%= link_to (image_tag 'logo-bazart260.png'), root_path %>
    </div>
    <nav class="gray-nav">
      <%= link_to 'художники', artists_path%> 
      <span class="orange-spacer"></span> 
      <%= link_to 'новости', news_path%> 
      <span class="orange-spacer"></span> 
      <%= link_to 'о нас', about_path%> 
      <span class="orange-spacer"></span> 
      <a>посмотреть</a> 
      <span class="orange-spacer"></span> 
      <%= link_to 'купить', shop_path%> 
      <span class="orange-spacer"></span> 
      <%= link_to 'контакты', contact_path%> 
      <span class="orange-spacer"></span> 
      <% if !user_signed_in? %>
        <%= link_to 'войти', user_session_path%>
      <% else %>
      <span class="dropdown">
        <a  role="button" data-toggle="dropdown" href="#">пользователь</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to 'профиль', edit_user_registration_path %></li>
          <li><%= link_to 'корзина',  shop_cart_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'выйти', destroy_user_session_path, method: :delete, data: { confirm: 'Уверены?' } %></li>    
        </ul>
      </span>
        
      <% end %>

    </nav>
    </div>
  </header>
  
  <section id="body">

  <% defined? alert do %>
  <div class="alert alert-error">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Ошибка!</strong><%= alert %>
  </div>
  <% end %>

  <% defined? notice do %>
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Информация.</strong><%= notice %>
  </div>
  <% end %>

  <%= yield %>
  </section>

  <footer class="navbar-bottom">

  	<nav class="gray-nav">
      <%= link_to 'художники', artists_path%> 
      <span class="spacer"></span> 
      <%= link_to 'новости', news_path%> 
      <span class="spacer"></span> 
      <%= link_to 'о нас', about_path%> 
      <span class="spacer"></span> 
      <a>акции</a> 
      <span class="spacer"></span> 
      <a>музеи</a> 
      <span class="spacer"></span> 
      <a>галереи</a> 
      <span class="spacer"></span> 
      <a>арт-товары</a> 
      <span class="spacer"></span> 
      <a>аукционы</a> 
      <span class="spacer"></span> 
      <%= link_to 'контакты', contact_path%> 
      <span class="spacer"></span>
      <% if !user_signed_in? %>
        <%= link_to 'войти', user_session_path%>
      <% else %>
        <%= link_to 'выйти', destroy_user_session_path, :method => :delete %>
      <% end %>

    </nav>

    <div class="logo">
      <%= image_tag 'logo-bazart75.png'%>
    </div>

  </footer>
</div>

</body>
</html>
